.mobile-donation-hero{
    background-image: url(../images/donation-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    background-position-x: 70%;
}

.donation-hero{
    background-image: url(../images/donation-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    background-position-y: 40%;
    background-position-x: 40%;
}

