.cat-hero{
    background-image: url(./images/cats.png);
    background-size: cover;
    height: 60vh;
    width: 95%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position-y: 40%;
    background-position-x: 35%;
}