.hero-volunteer{
    background-image: url(./hero-volunteer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    filter: brightness(0.8);
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-filter: brightness(0.8);
}


.mobile-hero-volunteer{
    background-image: url(./hero-volunteer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    filter: brightness(0.8);
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-position-x: 55%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-filter: brightness(0.8);
}

